.container
  .row
    .col-md-12
      h2(ng-bind='bgginfo.name')
  .row
    .col-md-12
      bgginfo(bgginfo='bgginfo')
  .row
    .col-md-12
      h3 Game Stats
  .row
    .col-md-12(ng-show='!gameSpecificStats')
      .loading
        span.loading-spinner
        p.loading-text Loading Game Stats...
    .col-md-12.ng-hide(ng-show='gameSpecificStats')
      .table-responsive
        table.table.table-hover.table-striped.table-condensed.table-sortable
          thead
            tr
              th(ng-repeat='column in columns')
                a(href='#', ng-click='sort(column)')
                  {{column.name}} #[span.fa(ng-show='column.name == activeColumn.name', ng-class='{"fa-angle-up": !reverse && column.name == activeColumn.name, "fa-angle-down": reverse && column.name == activeColumn.name}')]
          tbody
            tr(ng-repeat='stat in gameSpecificStats | orderBy:activeColumn.sortKey:reverse')
              td {{stat.players}}
              td {{stat.totalGames}}
              td {{stat.highscore.score}} ({{stat.highscore.player.name}})
              td {{stat.averageScore | number:2}}
              td {{stat.lowscore.score}} ({{stat.lowscore.player.name}})

