.chart-container.gameresult-container(ng-hide='chartLoading')
  .panel.panel-default.panel-gameresult
    .panel-heading
      h4 #[strong {{(gameresult.game.name | limitTo:38) + (gameresult.game.name.length > 50 ? "..." : "") }}] ({{gameresult.scores.length}} Players)
      .dropdown.pull-right
        button#editButton.dropdown-toggle.btn.btn-xs.btn-default(type='button', data-toggle='dropdown', aria-expanded='true') Actions
          span.caret
        ul.dropdown-menu(role='menu', aria-labelledby='editButton')
          li
            a.delete-game-gameresult-button(href='#') Delete
          li
            a(href='todo') Game Stats
          li
            a(href='todo') Show Scores
      p.game-date.pull-right(style='margin-right: 10px;') {{gameresult.time | date:"short"}}
    .panel-body
      highchart(config='gameresultChartConfig')
.loading-container.gameresult-container(ng-show='chartLoading')
  .loading
    span.loading-spinner
    p.loading-text Loading Chart...

