.alert.alert-danger(ng-if='deleted')
  p {{gameresult.game.name}} game result was deleted...
.chart-container.gameresult-container(ng-hide='chartLoading', ng-if='!deleted')
  .panel.panel-default.panel-gameresult
    .panel-heading
      h4 #[strong {{(gameresult.game.name | limitTo:38) + (gameresult.game.name.length > 50 ? "..." : "") }}] ({{gameresult.scores.length}} Players)
      .btn-group.pull-right(dropdown='', is-open='status.isopen')
        button#single-button.btn.btn-default.btn-xs(type='button', dropdown-toggle='', ng-disabled='disabled')
          | More...
          span.caret
        ul.dropdown-menu(role='menu', aria-labelledby='single-button')
          li(role='menuitem', ng-hide='ownRole != "admin"')
            a(href='#', ng-click='delete()') Delete
          li(role='menuitem')
            a(ui-sref='tournaments.tournament.gameresults.gameresult({gameresult:gameresult._id})') Show Details
          li(role='menuitem')
            a(ui-sref='tournaments.tournament.games.game({bggid:gameresult.game.id})') Show Game Statistics

      p.game-date.pull-right(style='margin-right: 10px;') {{gameresult.time | date:"short"}}
    .panel-body
      highchart(config='gameresultChartConfig')

.loading-container.gameresult-container(ng-show='chartLoading')
  .loading
    span.loading-spinner
    p.loading-text Loading Game Result...

