@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'tournaments/overview/overview.less';
@import 'tournaments/tournaments.less';
@import 'modal/modal.less';
@import 'styles/bootswatch-flatly/variables.less';
@import 'styles/callouts/callouts.less';
// endinjector

// VARIABLES
@font-size-xs:         ceil((@font-size-small * 0.85)); // ~12px


// GLOBAL STYLES
h1,h2,h3,h4,h5 {
	margin-bottom: 20px;
}
