@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'messages/messages.less';
@import 'tournaments/tournament/gameresults/gameresult/gameresult.less';
@import 'tournaments/tournament/gameresults/gameresults.less';
@import 'tournaments/tournament/games/game/game.less';
@import 'tournaments/tournament/games/games.less';
@import 'tournaments/tournament/players/player/player.less';
@import 'tournaments/tournament/players/players.less';
@import 'tournaments/tournament/tournament.less';
@import 'tournaments/tournaments.less';
@import 'directives/bgginfo/bgginfo.less';
@import 'directives/gamelink/gamelink.less';
@import 'directives/gameresult/gameresult.less';
@import 'directives/playerlink/playerlink.less';
@import 'directives/scorechart/scorechart.less';
@import 'directives/timechart/timechart.less';
@import 'directives/tournament/tournament.less';
@import 'modal/modal.less';
@import 'styles/animate/animate.less';
@import 'styles/bootswatch-flatly/variables.less';
@import 'styles/callouts/callouts.less';
@import 'styles/dialogs/dialogs.less';
@import 'styles/loading/loading.less';
@import 'styles/navbar/navbar.less';
// endinjector

// VARIABLES
@font-size-xs:         ceil((@font-size-small * 0.85)); // ~12px

@alert-link-color: darken(@brand-warning, 20%);


// GLOBAL STYLES
.mbot {
	margin-bottom: 20px;
}
.mtop {
	margin-top: 20px;
}

.clickable {
	cursor: pointer;
}

// colors
.text-success {
	color: @brand-success;
}
.text-danger {
	color: @brand-danger;
}

// animations
.ng-hide-remove {
	.fadeIn;
}
.animated-delay {
	animation-delay: 1s;
}

// tables
.table.table-sortable thead th a {
	color: @text-color;
	&:hover {
		text-decoration: none;
	}
}


//alerts
.alert-warning {
	a {
		color: @alert-link-color;
		&:hover {
			color: darken(@alert-link-color, 5%);
		}
	}
}

// buttons
.btn:focus {
	// why is this even in bootstrap??? default focus outline looks broken & ugly.
	outline: 0 none;
}

// checkbox 
.btn span.glyphicon.glyphicon-ok {
	// kind of ugly hack to use font awesome instead of glyphicons
	&:before {
		font-family: FontAwesome;
		content: '\f00c';
	}
}
