div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='main') Boardgame Tournament

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        //-li
          //-a(href='#') {{getRole()}}

        // tournaments navigation
        li.dropdown(ng-show='isLoggedIn()', ng-click='dropdownOpen = !dropdownOpen', ng-class='{"open": dropdownOpen}')
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true') My Tournaments #[span.caret]
          ul.dropdown-menu
            li
              a(ui-sref='tournaments') Overview
            li.divider(role='separator', ng-show='tournaments.length')
            li.dropdown-header(ng-show='tournaments.length') Shortcuts
            li(ng-repeat='tournament in tournaments | limitTo:10', ui-sref-active='active')
              a(ui-sref='tournaments.tournament({slug:tournament.slug})') {{tournament.name}}

        // active tournament navigation
        li.dropdown(ng-show='activeTournament()', ng-click='tournamentDropdownOpen = !tournamentDropdownOpen', ng-class='{"open": tournamentDropdownOpen}')
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true') #[strong.text-success {{activeTournament().name}}] #[span.caret]
          ul.dropdown-menu
            li
              a(ui-sref='tournaments.tournament({slug: activeTournament().slug})') Overview
            li.divider(role='separator')
            li(ui-sref-active='active')
              a(ui-sref='tournaments.tournament.games({slug: activeTournament().slug})') Games

            li(ui-sref-active='active')
              a(ui-sref='tournaments.tournament.players({slug: activeTournament().slug})') Players

            li(ui-sref-active='active')
              a(ui-sref='tournaments.tournament.gameresults({slug: activeTournament().slug})') Results

            li.divider(role='separator', ng-show='getRole() == "admin"')
            li(ui-sref-active='active', ng-show='getRole() == "admin"')
              a(ui-sref='tournaments.tournament.dashboard') Admin Dashboard

      ul.nav.navbar-nav.navbar-right

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
          a(href='/login') Login

        li(ng-show='isLoggedIn()', ui-sref-active='active')
          a(ui-sref='messages')
            .fa.fa-envelope
            | Messages
            .label.label-warning.message-count-label(ng-show='unreadMessagesCount', style='margin-left: 4px;') {{unreadMessagesCount}}

        li(ng-show='isLoggedIn()', ui-sref-active='active')
          a(ui-sref='settings')
            .fa.fa-gear
            | Settings

        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a(href='', ng-click='logout()')
            .fa.fa-sign-out
            | Logout
