.container
  //-.row
    //-.col-md-12.ng-hide(ng-hide='hiddden')
      //-#container
  //-.row
    //-.col-md-12.ng-hide(ng-hide='hiddden')
      //-highchart(config='chartConfig')
        
  .row
    .col-md-6.ng-hide(ng-hide='hiddden')
      .panel.panel-default
        .panel-heading
          h4 Test
        .panel-body
          highchart(config='chartConfig')
    .col-md-6.ng-hide(ng-hide='hiddden')
      .panel.panel-default
        .panel-heading
          h4 Test
        .panel-body
          highchart(config='chartConfig')
