div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit(ng-hide='isLoggedIn()')
  .container
    img.trophy(src='assets/images/trophy2.svg', alt='Shpeely Logo')
    h1.title Shpeely
    p.lead {{lead}}
    .button-wrapper
      a.btn.btn-primary(ui-sref='signup') Sign Up
      a.btn.btn-default(ui-sref='login') Login

.container
  .row
    .col-md-12
      h2 Tournaments
  .row
    .col-md-6
      form(ng-submit='search()')
        label Search Tournaments
        .input-group
          input.form-control(ng-model='query', placeholder='Search tournaments by name...')
          span.input-group-btn
            button.btn.btn-primary(type='submit') Find Tournament!
  .row.mtop
    .col-md-12
      h4(ng-hide='foundTournaments') Recent Tournaments
      h4.ng-hide(ng-show='foundTournaments')

  .row(ng-show='!foundTournaments && !loading')
    .col-md-4(ng-repeat='tournament in allTournaments')
      tournament-callout(on-remove='deleteTournament(tournament)', tournament='tournament')
  .row.ng-hide(ng-show='foundTournaments && !loading')
    .col-md-4(ng-repeat='tournament in foundTournaments')
      tournament-callout(on-remove='deleteTournament(tournament)', tournament='tournament')
  .row(ng-hide='!loading')
    .loading
      span.loading-spinner
      p.loading-text Loading tournaments...
  .row(ng-show='!loading && foundTournaments && !foundTournaments.length')
    .col-md-6
      .alert.alert-dismissible.alert-warning
        h4 No Tournaments found
        p Sorry, no tournaments found with "{{query}}" in the name. Try something else... 
        p ... or show #[a(href='#', ng-click='foundTournaments = null') show recent tournaments] 
