div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Boardgame Tournament
    p.lead {{lead}}
    img.trophy(src='assets/images/trophy.png', alt='Boardgame Tournament Trophy')

.container
  .row
    .col-lg-12
      h2.page-header Active Tournaments
  .row
    .col-md-4(ng-repeat='tournament in allTournaments', ui-sref='tournamentoverview({slug:tournament.slug})')
      tournament-callout(tournament='tournament')

footer.footer
  .container
