.container
  .row
    .col-md-12
      h3(ng-bind='gameresult.game.name')
  .row
    .col-md-6
      h4 Game Result
      gameresult(gameresult='gameresult')
    .col-md-5.col-md-offset-1
      h4 Points Earned
      .loading(ng-if='!gameResultScores')
        span.loading-spinner
        p.loading-text Loading Scores...
      table.table.table-condensed.table-striped.table-hover(ng-show='gameResultScores')
        tr(ng-repeat='score in gameResultScores | orderBy:"score.score"')
          td
            playerlink(player='score.player.name')
          td(ng-bind='score.score', ng-class='{"text-danger":score.score < 0, "text-success": score.score > 0}')
