
.container
  .row 
    .col-md-12
      h2 Messages
  .row 
    .col-md-12
      h4 New
  .row 
    .col-md-12(ng-repeat='message in unreadMessages')
      message(message='message')
    .col-md-12(ng-if='!unreadMessages.length')
      alert(type='info') No new messages...
  .row(ng-show='readMessages.length')
    .col-md-12
      h4 Read
  .row(ng-show='readMessages.length') 
    .col-md-12(ng-repeat='message in readMessages')
      message(message='message')


