ui-view
  .container
    .row
      .col-md-6
        h3 Create New Tournament
        form(name='newTournamentForm', ng-submit='createTournament(newTournament)')
          label(for='newTournament') Tournament Name
          .input-group
            input.form-control(type='text', ng-model='newTournament', required='', maxlength='50')
            span.input-group-btn
              button.btn.btn-primary(type='submit') Create Tournament!
    hr
    .row
      .col-md-12
        h4 My Tournaments
    .row
      .col-md-4(ng-repeat='tournament in myTournaments track by tournament.slug | orderBy:"-lastEdit"')
        tournament-callout(on-remove='deleteTournament(tournament)', tournament='tournament')
    .row(ng-hide='tournaments.length || alertClosed')
      .col-md-12
        alert(close='alertClosed = true', type='info')
          p You are not member of any tournaments yet...
          p As soon as you are member of a tournament, it will show up here. You can become member of a tournament by:
          ol
            li Creating a new tournament
            li Joining an existing tournament
          p You can find existing tournaments on the #[a(ui-sref='main') Home Page].


