.chart-container.animated.animated-delay.scorechart-container.ng-hide(ng-hide='chartLoading')
  highchart(ng-style='scoreChartStyle', id='scorechart', config='scorechartConfig')
.loading-container.scorechart-container(ng-show='chartLoading')
  .loading
    span.loading-spinner
    p.loading-text Loading Chart...
