.chart-container(ng-hide='chartLoading')
  highchart(id='scorechart', config='scorechartConfig')
.loading-container(ng-show='chartLoading')
  .loading
    span.loading-spinner
    p.loading-text Loading Chart...
