#timechart {
	height: 800px;
}

.chart-controls {
	text-align: center;
	.btn {
		margin: 5px 8px;
	}
}
.highcharts-tooltip span {
	height: auto;
	width: 180px;
	overflow: auto;
	white-space: normal !important;
	padding-bottom: 100px;
}
