.container
  .row
    .col-md-12
      h3 Support
  .row
    .col-md-12
      h4 FAQ
  .row
    .col-md-12

      accordion(close-others='true')
        accordion-group
          accordion-heading
            | Title
          | Content here...
        accordion-group
          accordion-heading
            | Title
          | Content here...
        accordion-group
          accordion-heading
            | Title
          | Content here...
        accordion-group
          accordion-heading
            | Title
          | Content here...
