.container
  .row
    .col-md-12
      h3 Support
  .row
    .col-md-12
      h4 FAQ

      accordion(close-others='true')
        accordion-group
          accordion-heading
            | The website is very slow. Why?
          | Because this website is currently hosted on the cheapest available server. If you want this website to be faster, please consider making a small donation. 100% of all donations are used to improve this website.

        accordion-group
          accordion-heading
            | How does the scoring system work?
          p In short: You will gain points when you are above the average score of a certain game and you will lose points when you're not.
          p How many points you gain/lose depends on:
          ol
            li The difference between your score and the average
            li The standard deviation of all scores
            li The BoardGameGeek "weight" of the game (how long does it take to play the game, how complex is the game, etc...)


          p To be a little more precise, the scores are first standardized and then multiplied by the BoardGameGeek weight of the game. The average scores are only computed per number of players. The formula to compute the score of a player for a single game result is defined as such:
          .text-center.mtop.mbot
            a(href='https://www.codecogs.com/eqnedit.php?latex=\\frac{S_{p,r,g,n}&space;-&space;\\mu_{g,n}}{\\sigma_{g,n}}&space;*&space;w_g', target='_blank')
              img(src='https://latex.codecogs.com/gif.latex?\\frac{S_{p,r,g,n}&space;-&space;\\mu_{g,n}}{\\sigma_{g,n}}&space;*&space;w_g', title='\\frac{S_{p,r,g,n} - \\mu_{g,n}}{\\sigma_{g,n}} * w_g')
          p ... where capital #[code S] is the score of a player #[code p] in an end result #[code r] of a board game #[code g] with the number of players #[code n], #[code &mu;] and #[code &sigma;] are the average score and the standard deviation of all results of the game #[code g] with number of players #[code n], and #[code w] is the BoardGameGeek weight of the game #[code g].

        accordion-group
          accordion-heading
            | What if I have any other question?
          p Then please send us a message at #[a(href='mailto:info@shpeely.com') info@shpeely.com] or on any social media platform.
