ui-view
  .container
    .row
      .col-lg-12
        h2(ng-bind='tournament.name')
    .row(ng-show='canEdit')
      .col-md-6
        h3.mbot Add Game
        form.form-horizontal(ng-submit='saveGame()', name='newGameResultForm')
          .form-group
            label.col-sm-2.control-label(for='game') Game
            .col-sm-10
              .selectize-wrapper(ng-class='{loading: gameSearchLoading}')
                selectize.game-selectize(config='gameSelectizeConfig', options='gameOptions', ng-model='newGameResult.bggid', placeholder='Search Game...', required='')
          .form-group(ng-repeat='result in newGameResult.scores')
            label.col-sm-2.control-label(for='player{{$index}}') Player {{i}}
            .col-sm-7
              selectize(type='hidden', id='player{{$index}}', name='player{{$index}}', config='playerSelectizeConfig', ng-model='newGameResult.scores[$index].player', placeholder='Add Player', ng-required='$first', options='players')
            label.col-sm-1.control-label(for='score{{$index}}') Score
            .col-sm-2
              input.form-control.input-sm(type='text', id='score{{$index}}', name='score{{$index}}' ng-model='newGameResult.scores[$index].score', placeholder='Score', ng-required='$first || newGameResult.scores[$index].player')
          .form-group
            .col-sm-offset-2.col-sm-10
              input.btn.btn-primary(type='submit', value='Save Game', ng-disabled='newGameResultForm.$invalid')

      .col-md-5.col-md-offset-1
        h3.mbot BoardgameGeek Info
        .please-select(ng-show='!bgginfo && !gameInfoLoading')
          p Please select a game
        .loading(ng-show='!bgginfo && gameInfoLoading')
          span.loading-spinner
          p.loading-text Loading BoardgameGeek Infos...
        .info(ng-show='bgginfo && !gameInfoLoading')
          bgginfo(bgginfo='bgginfo')

    // charts...
    .row
      .col-md-12
        h3 Scores
      .col-md-12
        scorechart(scores='scores')
    .row
      .col-md-12
        h3 Performance over Time
      .col-md-12
        timechart(time-series='timeSeries')
    .row
      .col-md-12
        h3 Latest Games
      .col-md-6(ng-repeat='gameresult in gameResults | limitTo:6')
        gameresult(gameresult='gameresult')
        
