div.navbar.navbar-default.navbar-static-top(ng-controller='FooterCtrl')
  div.container

      ul.nav.navbar-nav

        li
          a(ui-sref='support') Support

        //-li
          //-a(ui-sref='settings') Feedback

        li
          a(ui-sref='donate') Donate

      ul.nav.navbar-nav.navbar-right.social-links
        li
          a(href='https://twitter.com/_shpeely_')
            .fa.fa-twitter
        li
          a(href='https://www.facebook.com/shpeely')
            .fa.fa-facebook
        li
          a(href='https://plus.google.com/104115976539846688300')
            .fa.fa-google
        li
          a(href='https://reddit.com/r/shpeely')
            .fa.fa-reddit-alien

