div.navbar.navbar-default.navbar-static-top(ng-controller='FooterCtrl')
  div.container
    div.navbar-header

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')

      ul.nav.navbar-nav.navbar-right

        li
          a(ui-sref='settings') Support

        li
          a(ui-sref='settings') Feedback

        li
          a(ui-sref='settings') Donate

        li
          a(href='https://twitter.com/_shpeely_')
            .fa.fa-twitter

        li(href='https://www.facebook.com/shpeely')
          a(ui-sref='settings')
            .fa.fa-facebook

        li
          a(href='https://plus.google.com/104115976539846688300')
            .fa.fa-google

