.container
  .row
    .col-md-12
      h3 Donate
      p This website was developed by a student in his free time. This website is a non-profit project. 100% of donated funds will be used to maintain and improve this website. Any amount is greatly appreciated! #[strong Thank you for your support!]

  .row
    .col-md-6.text-center
      h4.mtop.mbot Donate with Credit Card (PayPal)
      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYArpShNYwMabGxDx6YoXjmdQvUxan2nm95NznVKedosl2LamunNs1GQwetuqmg3ekGta3lUxlmCxMqi26UoNNRAA3MnNc/cAk4PUw0sqtqHBABUl/3UupvCvzhcTR/b0BSf2UwEULHWRhziwmGvLQEmVC/jU9EZk0dsi6Bexl/nuzELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIqZPtxE+D3RWAgYgOmsLZnyroARHlotDD6cGj1fSONwGEEMILVGKlCH0wSRKtWzlk7U0kJQEZtjAU1kZ3D54vsz7OsASFUejNPKcaonOJGGV47KA8h3NJrzHQB2/ZKRDX2T4ncLPw7WjDptR6erRolmn2scDNbazzQ3WH+tKiFjnUy2g+f4AUlWwUt2B9FqpcBQgQoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwMjI5MTc0MjA0WjAjBgkqhkiG9w0BCQQxFgQUvCi2pVo0CJc/7MaT8OEqknYFyuowDQYJKoZIhvcNAQEBBQAEgYCBC6T+4sVmaMYeo9go7QvnvAtMFJS4YPyZYwVCn1jmZy7K2YbbEsRPiupuZI+ORBasgaIbM4KFU9WnoYfLOOQKd+W6mxTf/p5wGpxtHI0n5ujb1c+lLDjDYJaXmME2nB31uJxqU0JrYSu62/lAxUY6DJOpuc+IL+B6zbGI2DpOog==-----END PKCS7-----\
        ')
        input(type='image', src='https://www.paypalobjects.com/en_US/CH/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

    .col-md-6.text-center
      h4.mtop.mbot Donate Bitcoins
      a.block(href='bitcoin:1Jod41RNc9yhxNhPAoUL9g7CdA16HtkFbU') 1Jod41RNc9yhxNhPAoUL9g7CdA16HtkFbU
      img(src='https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=1Jod41RNc9yhxNhPAoUL9g7CdA16HtkFbU')

